<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DERİN ÖĞRENME İLE MASKE TESPİTİ</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script src="https://docs.opencv.org/3.4.0/opencv.js"></script>
</head>
<body style="background: rgb(66, 66, 66);">
    <h1 style=" text-align:center; color: #0ba151; font-size: 2em;"> WEBCAM MASKE TEPİTİ </h1>
    <div id="container" style=" margin-top: 2%; display: flex;align-items: center;justify-content: center;  padding: 10px 10px 10px 10px">
        <video style="display:none" width="256" height="256"  autoplay="true" id="video"></video>
        <img style="border: 3px solid #0ba151; border-radius: 5px;" id="output" src="" width="500" height="500"></img>
        <canvas id="canvas" style="overflow:auto"></canvas>
    </div>
<script>

        var video = document.querySelector("#video");
        const ouptup = document.getElementById("output")

        if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
            video.srcObject = stream;
            })
            .catch(function (err0r) {
            console.log("Something went wrong!");
            });
        }

        function capture() {
            var canvas = document.getElementById('canvas');     
            var video = document.getElementById('video');
            canvas.width = 256;
            canvas.height = 256;
            canvas.getContext('2d').drawImage(video, 0, 0, 256,256);  
            canvas.style.display = "none";
            return canvas.toDataURL("image/jpg");
        }

        var socket = io('http://localhost:3000');
        socket.on('connect', function(){
            console.log("Connected...!", socket.connected)
        });
        
        const FPS = 10;
        setInterval(() => {
            let image = capture()
            socket.emit('image', image);
        }, 10000/FPS);
    
        socket.on('response_back', function(image){
            var binaryString = String.fromCharCode.apply(null, new Uint8Array(image));
            ouptup.src = "data:image/jpg;base64," + binaryString;
        });

    </script>
</body>
</html>