<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>

    <button width="20%" class="file-upload-btn"> <a class="file-upload-btn" style="text-decoration: none;"> <input
                class="file-upload-input" type="file" accept="video/*" id="input-tag" /> Video Seç</a> </button>
    <hr>
</body>


<script>

    const inputTag = document.querySelector("#input-tag");

    inputTag.addEventListener('change', readVideo)

    async function readVideo(event) {
        let formData = new FormData();
        formData.append("video", event.target.files[0]);
        const result = await axios.post('/proc-video',formData,{
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        });  
        if(result.data == "OK"){
            window.location = "http://localhost:3000/output.avi"
        }
    }
</script>

</html>